body {
  margin: 0;
}

.header-container {
  background-color: #F55A5A;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  
}

.header-container img {
  width: 50px;
}