body {
  margin: 0;
}

.header-container {
  background-color: #F55A5A;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-container img {
  width: 50px;
}

.header-container h1 {
  margin-left: 5px;
  font-weight: 100;
}