body {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.header {
  background-color: black;
}

.nav-container {
  display: flex;
  align-items: center;
  margin-left: 15px;
}

.react-img {
  width: 30px;
}

h3 {
  color: #61DBFB;
  font-size: 25px;
  margin-left: 5px;
}