body {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.react-img {
  width: 60px;
}

.nav-container {
  display: flex;
  align-items: center;
  background-color: black;
}

h3 {
  color: rgb(12, 190, 245);
  font-size: 30px;
  margin-left: 5px;
}